<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                    </div>
                    
                    <div class="content row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Filter by host:</label>
                                <input type="text" class="form-control" placeholder="host" value="vin" [(ngModel)]="filterQuery"/>
                            </div>
                        </div>
                        <div class="col-md-8" style="padding-top: 16px;">
                            <div class="form-group">
                                <button type="button" (click)="refresh()" class="btn btn-info btn-fill pull-right">
                                    <span class="fa fa-refresh"></span> 
                                </button>
                                <button style="margin-right: 10px;" type="button" class="btn btn-default btn-fill pull-right">
                                    <span class="fa fa-download"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped" [mfData]="healthData | dataFilter : filterQuery" #mf="mfDataTable"
                          [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                          <thead>
                            <tr>
                                <th style="width: 20%">
                                    <mfDefaultSorter by="host">host</mfDefaultSorter>
                                </th>
                                <th style="width: 40%">
                                    <mfDefaultSorter by="reboots">reboots</mfDefaultSorter>
                                </th>
                                <th style="width: 10%">
                                    <mfDefaultSorter by="sn">sn</mfDefaultSorter>
                                </th>
                                <th style="width: 20%">
                                    <mfDefaultSorter [by]="storeId">storeId</mfDefaultSorter>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of mf.data">
                                <td>{{item.host}}</td>
                                <td>{{item.reboots}}</td>
                                <td>{{item.sn}}</td>
                                <td>{{item.storeId}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            </tfoot>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
